<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zap.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zap.entity.User">
    <id column="UserId" jdbcType="INTEGER" property="userId" />
    <result column="Password" jdbcType="CHAR" property="password" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="IsLocked" jdbcType="BIT" property="isLocked" />
  </resultMap>
  <sql id="Base_Column_List">
    UserId, Password, Username, IsLocked
  </sql>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where UserId = #{userId}
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Username = #{Username}
  </select>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from user
    where UserId = #{userId}
  </delete>
  <insert id="insert" parameterType="com.zap.entity.User">
    insert into user (UserId, Password, Username, 
      IsLocked)
    values (#{userId}, #{password}, #{username}, 
      #{isLocked)
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="userId" parameterType="com.zap.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        UserId,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="username != null">
        Username,
      </if>
      <if test="isLocked != null">
        IsLocked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="isLocked != null">
        #{isLocked},
      </if>
    </trim>
  </insert>
  <update id="updateByUserIdSelective" parameterType="com.zap.entity.User">
    update user
    <set>
      <if test="password != null">
        Password = #{password},
      </if>
      <if test="username != null">
        Username = #{username},
      </if>
      <if test="isLocked != null">
        IsLocked = #{isLocked},
      </if>
    </set>
    where UserId = #{userId}
  </update>
  <update id="updateByUserId" parameterType="com.zap.entity.User">
    update user
    set Password = #{password},
      Username = #{username},
      IsLocked = #{isLocked}
    where UserId = #{userId}
  </update>
</mapper>