<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zap.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zap.entity.UserRoleKey">
    <id column="UserId" jdbcType="INTEGER" property="userId" />
    <id column="RoleId" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.zap.entity.UserRoleKey">
    delete from user_role
    where UserId = #{userId,jdbcType=INTEGER}
      and RoleId = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zap.entity.UserRoleKey">
    insert into user_role (UserId, RoleId)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zap.entity.UserRoleKey">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        UserId,
      </if>
      <if test="roleId != null">
        RoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>